body{
   background-color: black;
} 
 #bule {
  background-color: bule
   width:"300"
  height:"400"
}
p1 {
  font-size: 30px;
 color: yellow;

}
p2 {
  font-size: 30px;
 color: yellow;

}
div{
  background-color: #FFF300
   width:"300"
  height:"400"
} 